appdirs==1.4.4
audioread==3.0.0
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
decorator==5.1.1
idna==3.4
joblib==1.2.0
librosa==0.9.2
llvmlite==0.39.1
numba==0.56.2
numpy==1.23.3
packaging==21.3
pooch==1.6.0
PyAudio==0.2.12
pycparser==2.21
pyparsing==3.0.9
python-speech-features==0.6
requests==2.28.1
resampy==0.4.2
scikit-learn==1.1.2
scipy==1.9.1
sklearn==0.0
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
urllib3==1.26.12
Wave==0.0.2
